@{
    Layout = null;
}
@{
    var logoimg = "ACE_Logo_Eng_CMYK_ou_003.jpg";
    var title = "CityU";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>@title</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Themesbrand" name="author" />
    <link rel="shortcut icon" href="~/images/logo/ACE_Logo_Eng_CMYK_ou_003.jpg">

    @Styles.Render("~/Content/css")
</head>

<body>
    <div class="wrapper-page">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center m-0">
                    <a href="/dashboard" class="logo logo-admin"><img src="~/images/logo/ACE_Logo_Eng_CMYK_ou_003.jpg" height="30" alt="logo"></a>
                </h3>

                <div class="p-3">
                    <h4 class="text-muted font-18 m-b-5 text-center">Change Password</h4>
                    <div class="form-group">
                        <label for="useremail">UserID</label>
                        <input type="hidden" name="userId" value="@Session["User"]" />
                        <input type="text" class="form-control" id="userId" value="@Session["User"]" disabled>
                    </div>

                    <div class="form-group">
                        <label for="username">User Name</label>
                        <input type="hidden" name="username" value="@Session["Uname"]" />
                        <input type="text" class="form-control" id="username" value="@Session["Uname"]" disabled>
                    </div>

                    <div class="form-group" hidden>
                        <label for="useremail">OldPassword</label>
                        <input type="password" class="form-control" placeholder="Enter Old Password" name="oldPassword" id="oldPassword">
                        <label id="lbloldpassword" style="color: #d2616a;"></label>
                    </div>

                    <div class="form-group">
                        <label for="username">NewPassword</label>
                        <input type="password" class="form-control" placeholder="Enter New Password" name="newPassword" id="newPassword">
                        <label id="lblnewpassword" style="color: #d2616a;"></label>
                    </div>

                    <div class="form-group">
                        <label for="userpassword">ComfirmPassword</label>
                        <input type="password" class="form-control" placeholder="Enter Comfirm Password" name="confirmPassword" id="confirmPassword">
                        <label id="lblcomfirmpassword" style="color: #d2616a;"></label>
                    </div>

                    <div class="form-group row m-t-20">
                        <div class="col-12 text-right">
                            <input type='button' onclick="onClick_UpdatePassword()" class="btn btn-primary waves-effect waves-light" value='Save' id='updatePasswordButton'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>
    <link href="~/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
    <script src="~/plugins/sweet-alert2/sweetalert2.min.js"></script>
    @Html.Partial("ChangePasswordScript");
</body>
</html>

